.app {

}


.cols {
  min-height: 100vh;
  display: flex;
}


.main-content {
  padding: 4rem;
  position: relative;
  width: 100%;
  max-width: var(--content-width);
}



@media (max-width: 991px) {
  .main-content {
    padding: 2rem;
  }
}
