.book-search input {
  padding: 0.5rem;
}
.book-search .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}
.book-search .clear {
  margin: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
.book-search .search {
  display: flex;
  align-items: center;
}
