
.pokedex .search {
  display: flex;
  align-items: center;
}
.pokedex .clear {
  margin: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
.pokedex .poke-info {
  padding: 0 1rem;
}
.pokedex .poke-info > * {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  background-color: var(--background-color);
}
