/*------------------------------------*\
  Global css
\*------------------------------------*/

/* === Global variables === */
:root {
	--background-color: rgb(239, 243, 245);
	--elevated-background-color: #ffffff;

	--text-color: #4e566d;
  --accent-color: #4341df;

  --border-color: #e3e8ee;

  --warning-color: rgb(255, 208, 0);
  --danger-color: tomato;
  --success-color: #06d19c;
}

/* === Default cascade === */
html {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


.layout {
  position: relative;
  width: 100%;
  height: 100%;
}


.main-content {
  max-width: 750px;
  margin: 0 3rem 0 calc(30% + 3rem);
  padding: 6rem 0;
}

.box {
  padding: 3rem;
  background-color: var(--elevated-background-color);
  border-radius: 8px;
  box-shadow: rgba(8, 35, 51, 0.05) 0px 3px 6px;
}

@media (max-width: 950px) {
  .main-content {
    margin: 0 auto 6rem auto;
    padding: 0;
  }
  .box {
    padding: 1.5rem;
  }
}


pre code {
  padding: 1rem;
}

code {
  display: inline-block;
  background: var(--background-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

img {
  max-width: 100%;
}
