.hero h1 {
  margin: 0;
  max-width: 9em;
}

.features-grid {
  margin: 1rem -2rem 1rem 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  h4 {
    font-size: 1.125rem;
    margin: 0.25rem 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  p {
    margin: 0;
    &::before {
      content: '-';
      margin: 0 0.375rem;
    }
  }

  @media (max-width: 1199px) {
    display: block;
    h4 {
      margin-bottom: -0.25rem;
    }
    p::before {
      display: none;
    }
  }
}

.actions {
  margin: 1rem 0;
  *:last-child {
    margin-left: 0.75rem;
    color: inherit;
  }
}
