.hero h1 {
  margin-top: 0;
  position: relative;
}
.hero sup {
  font-size: .875rem;
  margin-left: 1em;
  position: absolute;
  top: .75em;
}
.hero sup a {
  color: var(--accent-color);
  font-weight: 400;
  display: block;
  padding: 0 .25em;
  border-radius: .25em;
  font-size: .875rem;
  font-family: Fira Code,sans-serif;
  border: 1px solid var(--accent-color);
}
.hero sup a:hover {
  background: var(--accent-color);
  color: #fff;
}
.hero h2 {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 400;
  margin: 1rem 0;
  letter-spacing: normal;
  position: relative;
}










.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
  place-self: end stretch;
}

.features-grid .feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.features-grid .feature pre {
  margin: 0;
}

.features-grid .feature h4 {
  font-weight: 400;
  margin: 0;
  font-size: 1.25rem;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.features-grid .feature p {
  margin: 0.25rem 0 0 0;
  font-weight: 400;
  font-size: 0.75rem;
}


@media (max-width: 1360px) {
  .features-grid .feature h4 {
    font-size: 1.25rem;
  }
}


@media (max-width: 1240px) {
  .features-grid .feature h4 {
    font-size: 1rem;
  }
}
@media (max-width: 764px) {
  .features-grid .feature p {
    display: none;
  }
}
@media (max-width: 480px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
